<?xml version="1.0" encoding="utf-8" ?>

<ruleset name="Makefile for Laravel projects CodeSniffer Template">
  <!--
        The name attribute of the ruleset tag is displayed
        when running PHP_CodeSniffer with the -v command line
        argument. The description tag below is not displayed anywhere
        except in this file, so it can contain information for
        developers who may change this file in the future.
    -->
  <description>Extended PHP Coding Standards</description>

  <!-- Use PSR-2 as a base -->
  <rule ref="PSR2"/>

  <!--
      If no files or directories are specified on the command line
      your custom standard can specify what files should be checked
      instead.
      Note that specifying any file or directory path
      on the command line will ignore all file tags.
  -->
  <file>app</file>
  <file>routes</file>

  <arg name="basepath" value="."/>
  <!-- Show sniff codes in all reports -->
  <arg value="s"/>
  <arg name="colors" />
  <arg name="report-width" value="120" />
  <arg name="extensions" value="php" />

  <!-- Exclude all Blade Templates -->
  <exclude-pattern>app/*/*/resources/views/*\.blade\.php</exclude-pattern>
  <!--Exclude Tests and IDE Helpers-->
  <exclude-pattern>tests/*\.php</exclude-pattern>
  <exclude-pattern>_ide_helper.php</exclude-pattern>
  <!--Exclude Migrations-->
  <exclude-pattern>database/migrations/*.php</exclude-pattern>
  <exclude-pattern>app/*/*/migrations/*.php</exclude-pattern>

  <!--This sniff checks the cyclomatic complexity for functions by counting the different paths the function includes.-->
  <rule ref="Generic.Metrics.CyclomaticComplexity">
    <properties>
      <property name="complexity" value="5" />
      <property name="absoluteComplexity" value="30" />
    </properties>
  </rule>

  <rule ref="Generic.PHP.Syntax"/>
  <rule ref="Generic.CodeAnalysis"/>

  <!--This sniff checks how many level deep that code is nested within a function.-->
  <rule ref="Generic.Metrics.NestingLevel">
    <properties>
      <property name="nestingLevel" value="8"/>
      <property name="absoluteNestingLevel" value="12"/>
    </properties>
  </rule>

  <!--Do not warn for a line that only contains a comment, no matter how long the line is-->
  <rule ref="Generic.Files.LineLength">
    <properties>
      <property name="ignoreComments" value="true" />
    </properties>
  </rule>

</ruleset>
