parameters:
    level: max
    paths:
        - app
        - tests
    autoload_files:
        - %currentWorkingDirectory%/vendor/autoload.php
    reportUnmatchedIgnoredErrors: false
    excludes_analyse:
        - config
        - '%currentWorkingDirectory%/database'
        - storage
        - tests
        - vendor
        - '*.blade.php'
        - '%currentWorkingDirectory%/app/*/*/migrations/*.php'
    ignoreErrors:
        - '#Method Illuminate\\Contracts\\Foundation\\Application::basePath\(\) invoked with 1 parameter, 0 required.#'
        - '#Call to static method command() on an unknown class Artisan#'
        - '#Call to an undefined method Mockery\\ExpectationInterface#'
        - '#Call to an undefined method Illuminate\\#'
        - '#Call to an undefined static method Illuminate\\#'
        - '#Mockery\\MockInterface#'
